@import "custom";
$font-stack: 'Times New Roman', sans-serif;
$font-Arial: Arial, sans-serif;

.header {
  text-align: center;
  font: 100% $font-stack
}

.mainFont {
  font-family: $font-Arial;
  font-weight: bold;
  font-size: larger;
}

.secondFont {
  font-family: $font-Arial;
  font-weight: bold;
  font-size: small;
}

.marginSwitch {
  margin-left: 8px;
  margin-right: 4px;
}

.radioButton:checked {
  color: $dark;
}

//tooltip override
.tooltip-inner { background-color: $info;}
.tooltip.bottom .tooltip-arrow { border-bottom-color: $info; }

.textField {
  border-radius: 15px;
  margin-right: 8px;
  max-width: 200px;
}

.marginContainer {
  margin-left: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.formInline {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.jumbotron {
  padding: 24px;
  margin-top: 8px;
  background-color: $primary;
  max-width: 400px;
}

.btnCircle {
  width: 25px;
  height: 25px;
  padding: 0 0 0 0;
  margin: 0px 4px 0px 4px;
  border-radius: 15px;
  font-size: 16px;
  font-family: $font-stack;
  font-weight: bold;
  text-align: center;
}


  span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}
