@import "custom";
$font-stack: Helvetica, sans-serif;

.header {
  text-align: center;
  font: 100% $font-stack
}

.formInline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btnCircle {
  width: 30px;
  height: 30px;
  padding: 0 0 0 0;
  margin: 0px 4px 0px 4px;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
  text-align: center;
}

  span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}
